# Common configuration for all Machine types
AUTHOR = "Dimitris Tassopoulos"
MACHINE ?= "allwinner"
DISTRO = "poky"

PACKAGE_CLASSES ?= " package_deb"
USER_CLASSES = "buildstats image-mklibs image-prelink"
RM_OLD_IMAGE = "1"
CONF_VERSION = "1"

INHERIT += " rm_work"

DISTRO_FEATURES_append = " systemd"
VIRTUAL-RUNTIME_init_manager = "systemd"
DISTRO_FEATURES_BACKFILL_CONSIDERED = "sysvinit"

BB_GENERATE_MIRROR_TARBALLS = "1"

DL_DIR ?= "${BSPDIR}/downloads/"
TMPDIR = "${TOPDIR}/tmp"

GCCVERSION = "8.3%"

SDKMACHINE = "x86_64"

WKS_FILE ?= "${IMGDEPLOYDIR}/${IMAGE_BASENAME}.wks"

PREFERRED_VERSION_u-boot ?= "v2019.04%"

PREFERRED_PROVIDER_virtual/kernel ?= "linux-stable"
PREFERRED_VERSION_linux-stable ?= "4.19%"

# In case you need the rt-kernel uncomment the two lines below
#PREFERRED_PROVIDER_virtual/kernel = "linux-stable-rt"
#PREFERRED_VERSION_linux-stable-rt = "4.19%"

#SSID = "YOUR_SSID"
#PSK = YOUR_SSID_PASSWORD"

# For debugging u-boot and kernel
#RM_WORK_EXCLUDE += " linux-stable u-boot"

# Add your custom config under this line
