[Unit]
Description=Setup the sunxi max performance via sysfs

[Service]
Type=oneshot
ExecStart=/usr/bin/allwinner_performance

[Install]
WantedBy=multi-user.target
